@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<div class="container">
  <h2>Add Engineer</h2>
  <hr />
  <h4>Add a Engineer to this task: @Html.DisplayFor(model => model.Name)</h4>

  @using (Html.BeginForm())
  {
      @Html.HiddenFor(model => model.MachineId)

      @Html.Label("Select Engineer ")
      @Html.DropDownList("EngineerId")
  <br />
      <input type="submit" value="Save" class="pageLink"/>
  }

  <h5 class="pageLink">@Html.ActionLink("Back to list", "Index")</h5>

</div>