@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<div class="container">
  <h2>Add Machine</h2>
  <h5 class="pageLink">@Html.ActionLink("Show all Machines", "Index")</h5>
  <h5 class="pageLink">@Html.ActionLink("Home", "Index", "Home")</h5>

  <div class="infoBox">
    @using (Html.BeginForm())
    {
      <h4>@Html.LabelFor(model => model.Name)
      @Html.TextBoxFor(model => model.Name, new { required = "required" , @class ="wordLink" })
    
      @Html.Label("Select Engineer")
      @Html.DropDownList("EngineerId")</h4>
    
      <input type="submit" value="Add Machine" class="btn" />
    }
  </div>
</div>