@{
  Layout = "_Layout";
}

@* @model ToDoList.Models.Item

<div class="container">
  <h2>Edit Item</h2>
  <hr>
  <h4>Edit this task: @Html.DisplayFor(model => model.Description)</h4>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.ItemId)

    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    @Html.Label("Select category")
    @Html.DropDownList("CategoryId")
  <br />
    <input type="submit" value="Save" class="pageLink" />
  }

  <h5 class="pageLink">@Html.ActionLink("Cancel", "Index")</h5>
</div>

<h5 class="pageLink">@Html.ActionLink("Cancel", "Index")</h5>
</div> *@