@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<div class="container">
  <h2>Edit Machine</h2>
  <hr>
  <h4>Edit this task: @Html.DisplayFor(model => model.Name)</h4>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.MachineId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

  <br />
    <input type="submit" value="Save" class="pageLink" />
  }

  <h5 class="pageLink">@Html.ActionLink("Cancel", "Index")</h5>
</div>

